html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 1280px;
}

.PhoneApp {
  $width: 375px;
  $height: 667px;

  $headingFont: "Helvetica";
  $bodyFont: "Helvetica";

  $borderColour: #979797;

  $sidePadding: 8px;

  position: relative;
  display: inline-block;
  width: $width;
  height: $height;
  background-color: #efefef;

  .StatusBar {
	width: $width;
	height: 20px;
	background-color: black;
	color: white;

	.time {
	  display: block;
	  text-align: center;
	  line-height: 20px;
	}
  }

  .TabBar {
	position: absolute;
	bottom: 0;
	left:0;

	width: $width;
	height: 50px;

	background-color: #D8D8D8;

	table {
	  width: 100%;

	  td {
		text-align: center;
		height: 50px;
	  }
	}
  }

  .Profile {

	h1.name, .avatar {
	  margin-top: 3*$sidePadding;
	  margin-left: $sidePadding;
	}

	h1.name {
	  display: inline-block;
	  font: 500 24px $headingFont;
	  vertical-align: top;
	  line-height: 56px;
	  margin-left: 2*$sidePadding;
	}

	h2 {
	  font: 500 18px $headingFont;
	  margin: $sidePadding*3 0 $sidePadding $sidePadding;
	}

	img.avatar {
	  max-width: 56px;
	  max-height: 56px;
	  display: inline;
	}
  }

  .ListDivider {
	h1 {
	  padding: 3px $sidePadding;
	  font: 500 12px $headingFont;
	}

	border-top: 1px solid $borderColour;
	border-bottom: 1px solid $borderColour;
  }

  .ActivityItem {
	padding: 4px $sidePadding;
	border-bottom: 1px solid $borderColour;

	h1 {
	  font: 500 18px $headingFont;
	}

	$iconWidth: 44px;

	.activity-icon {
	  width: $iconWidth;
	  height: $iconWidth;
	  margin-top: 4px;

	  display: inline-block;

	  background: no-repeat center center;
	  background-size: contain;

	  &.stairs {background-image: url("../static/icons/stairs.svg");}
	  &.phosphorous {background-image: url("../static/icons/phosphorous.svg");}
	  &.coffee {background-image: url("../static/icons/coffee.svg");}

	}

	.details {
	  width: $width - $sidePadding*3 - $iconWidth;
	  margin-left: $sidePadding;
	  display: inline-block;
	  vertical-align: top;

	  font: 500 14px $bodyFont;

	  p {
		margin-top: 2px;
	  }
	}
  }
}