html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

$bodyWidth: 1024px;

body {
  width: $bodyWidth;
  margin: 100px auto;
}

$iphoneWidth: 316px;

.iphone-container {
  position: relative;
  display: inline-block;

  .iphone {
    width: $iphoneWidth;
  }
}

.PhoneApp {
  $width: 281px;
  $height: 500px;

  $headingFont: "Helvetica";
  $bodyFont: "Helvetica";

  $borderColour: #979797;
  $highlightColour: #49d643;

  $sidePadding: 8px;

  position: absolute;
  top: 64px;
  left: 18px;
  display: inline-block;
  width: $width;
  height: $height;
  background-color: white;

  .StatusBar {
    width: $width;
    height: 15px;
    background-color: #efefef;

    .time {
      display: block;
      text-align: center;
      line-height: 15px;

      font-size: 10px;
      font-family: $headingFont;
    }
  }

  .TabBar {
    position: absolute;
    bottom: 0;
    left: 0;

    width: $width;
    height: 38px;

    background-color: #efefef;

    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: auto;

      td {
        text-align: center;
        height: 38px;
        width: 20%;

        &.selected {
          background-color: $highlightColour;
        }

        img {
          height: 28px;
          fill: white !important;
        }
      }
    }
  }

  .NavBar {
    background-color: #efefef;
    width: 100%;
    text-align: center;
    height: 33px;
    vertical-align: middle;
    font: 500 18px $headingFont;

    p {
      line-height: 33px;
    }

  }

  .view {
    overflow: scroll;
    height: 414px;
  }

  .Add {
    position: absolute;
    bottom: 38px;
    width: 100%;

    background-color: white;

    li {
      list-style-type: none;
      font: 500 16px $headingFont;
      text-align: center;
      border-top: 1px solid $borderColour;
      padding: $sidePadding*1.5 $sidePadding;
    }
  }

  .Profile {

    .user-details, .avatar {
      margin-top: 3*$sidePadding;
      margin-left: $sidePadding;
    }

    .user-details {
      display: inline-block;
      vertical-align: top;
      margin-left: 2*$sidePadding;
    }

    h1.name {
      font: 500 24px $headingFont;
    }

    .points {
      font: 500 16px $headingFont;
    }

    h2 {
      font: 500 18px $headingFont;
      margin: $sidePadding*2 0 $sidePadding $sidePadding;
    }

    img.avatar {
      max-width: 56px;
      max-height: 56px;
      display: inline;
    }
  }

  .ActivityListSection:first-child {
    border-top: 1px solid $borderColour;
  }

  .ListDivider {
    h1 {
      padding: 3px $sidePadding;
      font: 500 12px $headingFont;
    }

    border-bottom: 1px solid $borderColour;
  }

  .ActivityItem {
    padding: 4px $sidePadding;
    border-bottom: 1px solid $borderColour;

    h1 {
      font: 500 14px $headingFont;
    }

    $iconWidth: 33px;

    .activity-icon {
      width: $iconWidth;
      height: $iconWidth;
      margin-top: 4px;

      display: inline-block;

      background: no-repeat center center;
      background-size: contain;

      &.stairs {
        background-image: url("../static/icons/stairs.svg");
      }
      &.phosphorous {
        background-image: url("../static/icons/phosphorous.svg");
      }
      &.coffee {
        background-image: url("../static/icons/coffee.svg");
      }
      &.energy {
         background-image: url("../static/icons/bolt.svg");
      }
      &.people {
        background-image: url("../static/icons/leaderboard.svg");
      }

    }

    .details {
      width: $width - $sidePadding*3 - $iconWidth;
      margin-left: $sidePadding;
      display: inline-block;
      vertical-align: top;

      font: 500 12px $bodyFont;

      p {
        margin-top: 2px;
      }
    }
  }

  .Building {
    img.building {
      width: 100px;
    }

    h1.name, img.building {
      margin-top: 3*$sidePadding;
      margin-left: $sidePadding;
    }

    h1.name {
      display: inline-block;
      font: 500 24px $headingFont;
      vertical-align: top;
      margin-left: 2*$sidePadding;
      margin-bottom: 2*$sidePadding;
    }

    h2 {
      font: 500 18px $headingFont;
      margin: $sidePadding*2 0 $sidePadding $sidePadding;
    }
  }

  .LeaderBoard {
    .user {

      padding: $sidePadding;
      border-bottom: 1px solid $borderColour;

      h1, h2, p {
        font-family: $headingFont;
      }

      .details, h1 {
        display: inline-block;
      }

      .details {
        margin-left: $sidePadding;
      }

      h1 {
        font-size: 40px;
        font-weight: 300;
      }

      h2 {
        font-size: 16px;
      }
    }
  }

  .GreenStrategies {
    padding: $sidePadding;
    border-bottom: 1px solid $borderColour;

    h1 {
      font: 500 20px $headingFont;
    }

    p {
      margin-top: 4px;
      font-family: $headingFont;
      font-size: 14px;
    }
  }
}

.Info {

  display: inline-block;
  vertical-align: top;

  width: $bodyWidth - $iphoneWidth - 60;
  margin: 150px 0 0 60px;

  h1, p {
    font-family: "Helvetica";
  }

  p {
    margin-top: 10px;
    line-height: 1.5rem;
  }
}
